<div class="content-container" id="beer-list-container">
  <ul class="beer-list" *ngIf="!isLoading || data.length > 0">
    <li *ngFor="let beer of data" class="beer-card" (click)="showDetails(beer)">
      <i (click)="toggleFavorite(beer, $event)"
         class="icon-heart" [ngClass]="{'favourite': favoriteService.isFavorite(beer) }"></i>

      <div class="beer-card-container">
        <div class="frame">
          <img (dragstart)="drag($event)" draggable="true" src="{{beer.image_url}}" alt="{{beer.name}} image" />
        </div>

        <aside class="beer-info">
          <h4>{{beer.name}}</h4>
          <p class="detail">{{'BEER.IBU' | translate}} <span>{{beer.ibu}}</span></p>
          <p class="detail">{{'BEER.ABV' | translate}} <span>{{beer.abv}}%</span></p>
        </aside>
      </div>
    </li>
  </ul>

  <ul class="beer-list beer-list-loader" *ngIf="isLoading">
    <li *ngFor="let beer of Arr(16).fill(1)" class="beer-card">
      <i class="icon-heart"></i>

      <div class="beer-card-container">
        <div class="frame"></div>

        <aside class="beer-info">
          <h4>BEER TITLE</h4>
          <p class="detail">IBU</p>
          <p class="detail">ABV</p>
        </aside>
      </div>
    </li>
  </ul>

  <div *ngIf="!isLoading && data.length > 0" class="loader-container">
    <div *ngIf="showLoadMore" (click)="loadMore.emit(true)" class="load-more">Load more beers</div>
  </div>

  <app-beer-detail [beer]="selectedBeer"></app-beer-detail>
</div>
