<div class="main-content">
  <div class="jumbo-container">
    <section class="jumbo-showcase">
      <div class="join-title">
        <h2>{{'JOIN.TITLE' | translate}}!</h2>
      </div>

      <img srcset="
      /assets/images/illustration.png 1x,
      /assets/images/illustration@2x.png 2x" alt="Beer crate illustration"
      />
    </section>
  </div>

  <div class="content-container">
    <h3 [innerHtml]="'JOIN.SUBTITLE' | translate" class="title"></h3>

    <form action="/join">
      <h4>{{'JOIN.PERSONAL_INFO' | translate}}</h4>
      <div class="field">
        <input autocomplete="name" id="name" name="name" type="text" placeholder="Elliot Alderson" />
        <label for="name">{{'JOIN.FULL_NAME' | translate}}</label>
      </div>
      <hr />

      <h4>{{'JOIN.CONTACT_INFO' | translate}}</h4>
      <div class="field">
        <input autocomplete="email" id="email" name="email" type="email" placeholder="elliot@ecorp.org" />
        <label for="email">{{'JOIN.EMAIL' | translate}}</label>
      </div>

      <div class="field">
        <input autocomplete="tel-national" id="phone" name="tel" type="tel" placeholder="+385 099 1234 567" />
        <label for="phone">{{'JOIN.PHONE' | translate}}</label>
      </div>
      <hr />

      <h4>{{'JOIN.RSVP.LABEL' | translate}}</h4>
      <section class="field-group">
        <label class="radio-container">{{'JOIN.RSVP.COMING' | translate}}!
          <input name="rsvp" type="radio" title="{{'JOIN.RSVP.COMING' | translate}}!" value="1" />
          <span class="indicator"></span>
        </label>

        <label class="radio-container">{{'JOIN.RSVP.MAYBE' | translate}}?
          <input name="rsvp" type="radio" value="2" />
          <span class="indicator"></span>
        </label>

        <label class="radio-container">{{'JOIN.RSVP.CANT' | translate}}
          <input name="rsvp" type="radio" value="3"/>
          <span class="indicator"></span>
        </label>
      </section>

      <textarea placeholder="{{'JOIN.ADDITIONAL_INFO' | translate}}?"></textarea>
      <hr />

      <section class="field-group">
        <label class="checkbox-container">{{'JOIN.SUBSCRIBE' | translate}}!
          <input title="Subscribe" name="subscribe" type="checkbox" checked="checked" />
          <span class="indicator"></span>
        </label>
        <label  class="checkbox-container">{{'JOIN.REMINDER' | translate}}!
          <input title="Reminder" name="reminder" type="checkbox" />
          <span class="indicator"></span>
        </label>
      </section>

      <button class="join-button">{{'JOIN.TITLE' | translate}}</button>
    </form>
  </div>
</div>
