<footer>
  <div class="app-toolbar">
    <div class="logo">
      <img class="symbol" srcset="
        assets/images/symbol.png 1x,
        assets/images/symbol@2x.png 2x" alt="Beerup"
      />
      <img srcset="
        assets/images/logo.png 1x,
        assets/images/logo@2x.png 2x" alt="logo"
      />
    </div>

    <nav class="navigation">
      <ul>
        <li><a routerLink="/home">{{'HOME.HOME' | translate}}</a></li>
        <li><a routerLink="/favorites">{{'FAVORITES.FAVORITES' | translate}}</a></li>
        <li><a routerLink="/join">{{'JOIN.JOIN' | translate}}</a></li>
      </ul>
    </nav>

    <nav class="navigation">
      <section class="social-container">
        <ul>
          <li><a target="_blank" href="https://facebook.com"><i class="icon-facebook"></i></a></li>
          <li><a target="_blank" href="https://twitter.com"><i class="icon-twitter"></i></a></li>
          <li><a target="_blank" href="https://linkedin.com"><i class="icon-linkedin"></i></a></li>
          <li><a target="_blank" href="https://pinterest.com"><i class="icon-pinterest"></i></a></li>
        </ul>
      </section>
    </nav>
  </div>
  <section class="copyright" [innerHtml]="'HOME.COPYRIGHT' | translate"></section>
</footer>
