<div class="main-content">
  <div class="jumbo-container">
    <section class="jumbo-showcase">
      <div class="join-title">
        <h2>{{'FAVORITES.FAVORITES' | translate}}</h2>
      </div>

      <img srcset="
      /assets/images/illustration.png 1x,
      /assets/images/illustration@2x.png 2x" alt="Beer crate illustration"
      />
    </section>
  </div>

  <div class="content-container">
    <div class="title-container">
      <h3 class="title">{{'FAVORITES.TITLE' | translate}}</h3>

      <aside class="sort-container">
        <ul class="tab-bar">
          <li class="disabled">{{'BEER.SORT' | translate}}</li>
          <li [ngClass]="{'selected': sortColumn === 'name'}" (click)="sortColumn = 'name'">{{'BEER.NAME' | translate}}</li>
          <li [ngClass]="{'selected': sortColumn === 'ibu'}" (click)="sortColumn = 'ibu'">{{'BEER.IBU' | translate}}</li>
          <li [ngClass]="{'selected': sortColumn === 'abv'}" (click)="sortColumn = 'abv'">{{'BEER.ABV' | translate}}</li>
        </ul>
      </aside>
    </div>

    <app-beer-list *ngIf="beers.length > 0" [showLoadMore]="false" [data]="beers" [isLoading]="false"></app-beer-list>

    <h4 *ngIf="beers.length === 0">
      Click on the <i class="icon-heart"></i> icon inside any beer card on the <a routerLink="/home">home page</a> to add beers to your favorites.
    </h4>

    <app-beer-crate></app-beer-crate>
  </div>
</div>
