<div class="main-content">
  <div class="jumbo-container">
    <section class="jumbo-showcase">
      <div class="join-title">
        <h2>{{'FAVORITES.FAVORITES' | translate}}</h2>
      </div>

      <img srcset="
      /assets/images/illustration.png 1x,
      /assets/images/illustration@2x.png 2x" alt="Beer crate illustration"
      />
    </section>
  </div>

  <div class="content-container">
    <h3 class="title">{{'FAVORITES.TITLE' | translate}}</h3>

    <app-beer-list *ngIf="favoriteService.favorites.length > 0" [data]="favoriteService.favorites" [isLoading]="false"></app-beer-list>

    <h4 *ngIf="favoriteService.favorites.length === 0">
      Click on the <i class="icon-heart"></i> icon inside any beer card on the <a routerLink="/home">home page</a> to add beers to your favorites.
    </h4>

    <app-beer-crate></app-beer-crate>
  </div>
</div>
