<div class="main-content">
  <div class="jumbo-container">
    <section class="jumbo-showcase">
      <div class="join-title">
        <h4>{{'BEERUP.SUBTITLE' | translate}}</h4>
        <h2 [innerHTML]="'BEERUP.TITLE' | translate"></h2>
        <button class="join-button">{{'BEERUP.JOIN' | translate}}</button>
      </div>

      <img srcset="
      /assets/images/illustration.png 1x,
      /assets/images/illustration@2x.png 2x" alt="Beer crate illustration"
      />
    </section>

    <button class="join-button border-button">{{'BEERUP.JOIN' | translate}}</button>
  </div>

  <app-beer-list [data]="beers" [isLoading]="loader.loading$ | async"></app-beer-list>
</div>
