
@import "../../styles";

.main-content {
  width: 100%;
  margin: 0 auto;
}

.jumbo-container {
  background: #000000;
  position: relative;
  .bg-pattern;

  .border-button {
    display: none;
    position: absolute;
    bottom: -22px;
    z-index: 9999;
    left: 50%;
    margin-left: -86px;
  }

  .jumbo-showcase {
    h4 {
      margin: 0;
      font-family: Montserrat, sans-serif;
      color: #ffffff;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 2px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

app-beer-crate {
  grid-area: sidebar;
}

.content-container {
  width: 100%;
  max-width: 1130px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'title sidebar'
    '. sidebar'
  ;
  grid-template-rows: 94px auto;
  grid-template-columns: auto 270px;
}

@media(max-width: 768px) {
  .jumbo-container {
    .border-button {
      display: block;
    }

    .jumbo-showcase {
      h4 {
        text-align: center;
      }

      button {
        display: none;
      }
    }
  }
}

@media(max-width: 800px) {
  .content-container {
    grid-template-rows: 120px auto !important;
  }
}

@media(max-width: 768px) {
  .content-container {
    grid-template-columns: auto 270px;
  }
}

@media(max-width: 600px) {
  .content-container {
    grid-template-columns: 50% 50%;
  }
}
