<header>
  <div class="app-toolbar">
    <a routerLink="/home">
      <div class="logo">
        <img class="symbol" srcset="
        /assets/images/symbol.png 1x,
        /assets/images/symbol@2x.png 2x" alt="Beerup"
        />
        <img srcset="
      /assets/images/logo.png 1x,
      /assets/images/logo@2x.png 2x" alt="logo"
        />
      </div>
    </a>

    <div class="nav-button-container">
      <button onclick="toggleMenu()" class="nav-button"><i class="icon-menu"></i></button>
    </div>

    <nav class="navigation main-nav">
      <ul>
        <li><a routerLink="/home" routerLinkActive="selected">{{'HOME.HOME' | translate}}</a></li>
        <li><a routerLink="/favorites" routerLinkActive="selected">{{'FAVORITES.FAVORITES' | translate}}</a></li>
        <li><a class="button" routerLink="/join" routerLinkActive="selected">{{'JOIN.JOIN' | translate}}</a></li>
      </ul>
    </nav>
  </div>
</header>
